# 1. dataframe
# loc (can get boolen array also , loc[boolean array] , iloc get only index)
## dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 26), 'Section'] = 1
 ->dataset dataframe er jsokol row er 'Age' column er value 16 er beshi and 26 ba tar kom
 shei row gular 'Section'column er value 1 set koro!
 # fillna
 ## dataset['Embarked'].fillna('S',inplace=True)
 -> fillna() function is used to fill NA/NaN values.
 
 -> Parameter values >>> scalar, dict, Series, or DataFrame
 
 -> dataset dataframe er jsokol row er 'Embarked' coloumn e data nai sesob row er 'Embarked' coloumn
 'S' value diye fill koro
 
  ->inplace = true modifies the object as  dataset['Embarked'] = dataset['Embarked'].fillna('S')
  
  ## train["Fare"].fillna(train.groupby("Pclass")["Fare"].transform("median"), inplace=True)
  
  -> Here, fillna(series)
  
  -> train.groupby("Pclass")["Fare"] is a group of  different series based on 'Pclass' containing only 
     'Fare' Column created from train dataframe
  
  -> train.groupby("Pclass")["Fare"].transform("median") -> here transform method again combines all the
    series in a single series in which 'Fare' column is transformed by the median of each series. 
 
 # 2. Pandas series
 ## https://www.geeksforgeeks.org/python-pandas-series/
 ## series is like an one dimensinal array whose index can be anything like map of c++
 ## Pclass1 = train[train['Pclass']==1]['Embarked'].value_counts()
 
 -> Plass1 emon ekta series{map) jetay train namok dataframe er jsokol row er 'Pclass' column er value 1 
 sesokol row er 'Embarked' column e jotogula different different value ase tader prottekta different value
 ekekta key and oi different value er total occurence oi key er value!!!
 
 # 3. Mapping
## embarked_mapping = {"S": 0, "C": 1, "Q": 2}
## dataset['Embarked'] = dataset['Embarked'].map(embarked_mapping)

-> dataset dataframe er sokol row er 'Embarked' column er value embarked_mapping pair diye replace koro

# 4. Preprocessing
## student['Name']=preprocessing.LabelEncoder().fit_transform(student['Name'])

-> categorial variable gula jara number na, tader k category onujayi different value set korte eta use kore

-> student dataframe er Name column er different namgula k ek jatio number dia replace koro