In [40]:
import pandas as pd
from sklearn import preprocessing
from pathlib import Path

In [72]:
def load_data():
    # Read data
    data_dir = Path(".")
    df_train = pd.read_csv(data_dir / "train.csv",index_col="Id")
    df_test = pd.read_csv(data_dir / "test.csv",index_col="Id")
    # Merge the splits so we can process them together
    df = pd.concat([df_train, df_test])
    # Preprocessing
#   df = clean(df)
#   df = encode(df)
#   df = impute(df)
#   Reform splits
#   print(df.loc[df_train.index,:'MSZoning'])
    df_train = df.loc[df_train.index, :]
    df_test = df.loc[df_test.index, :]
#     print(df_test)
    return df_train, df_test

In [73]:
train,test = load_data()

In [83]:
train[train['GarageYrBlt']<=2010][['GarageYrBlt','YearBuilt']]
 df["GarageYrBlt"] = df["GarageYrBlt"].where(df.GarageYrBlt <= 2010, df.YearBuilt)
    train[train['GarageYrBlt']<=2010][['GarageYrBlt','YearBuilt']]

      GarageYrBlt  YearBuilt
Id
1          2003.0       2003
2          1976.0       1976
3          2001.0       2001
4          1998.0       1915
5          2000.0       2000
...           ...        ...
1456       1999.0       1999
1457       1978.0       1978
1458       1941.0       1941
1459       1950.0       1950
1460       1965.0       1965

[1379 rows x 2 columns]