In [7]:
import pandas as pd
student = pd.DataFrame(
            {
                'Name': ['Rakib','Sakib','Ratul','Ab','Aa'],
                'Age' : [23,20,21,23,27]
            }
         )

In [8]:
student['Name']

0    Rakib
1    Sakib
2    Ratul
3       Ab
4       Aa
Name: Name, dtype: object

In [9]:
from sklearn import preprocessing
student['Name']=preprocessing.LabelEncoder().fit_transform(student['Name'])

In [10]:
student['Name']

0    2
1    4
2    3
3    1
4    0
Name: Name, dtype: int64

In [12]:
student2 = pd.DataFrame(
            {
                'Name': ['Rakib','Sakib','Ratul','Ab','Aa'],
                'Age' : [23,20,21,23,27]
            }
         )
preprocessing.LabelEncoder().fit_transform(student2['Name'])
student2

    Name  Age
0  Rakib   23
1  Sakib   20
2  Ratul   21
3     Ab   23
4     Aa   27

In [26]:
from numpy import nan
student3 = pd.DataFrame(
            {
                'Name': [5,6,7,8,9,10],
                'Age' : [23,20,nan,nan,23,27]
            }
         )
#preprocessing.LabelEncoder().fit_transform(student2['Name'])
discrete_features = student3.dtypes==int
print(discrete_features)
print(student3[::1])
student3['Age']=student3['Age'].where(student3['Age']<=30,student3['Name'])
student3

Name     True
Age     False
dtype: bool
   Name   Age
0     5  23.0
1     6  20.0
2     7   NaN
3     8   NaN
4     9  23.0
5    10  27.0

   Name   Age
0     5  23.0
1     6  20.0
2     7   7.0
3     8   8.0
4     9  23.0
5    10  27.0

In [28]:
ten_levels = list(range(10))
ten_levels

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:

ordered_levels = {
    "LotShape": ["Reg", "IR1", "IR2", "IR3"],
    "LandSlope": ["Sev", "Mod", "Gtl"],
    "BsmtExposure": ["No", "Mn", "Av", "Gd"],
    "BsmtFinType1": ["Unf", "LwQ", "Rec", "BLQ", "ALQ", "GLQ"],
    "BsmtFinType2": ["Unf", "LwQ", "Rec", "BLQ", "ALQ", "GLQ"],
    "Functional": ["Sal", "Sev", "Maj1", "Maj2", "Mod", "Min2", "Min1", "Typ"],
    "GarageFinish": ["Unf", "RFn", "Fin"],
    "PavedDrive": ["N", "P", "Y"],
    "Utilities": ["NoSeWa", "NoSewr", "AllPub"],
    "CentralAir": ["N", "Y"],
    "Electrical": ["Mix", "FuseP", "FuseF", "FuseA", "SBrkr"],
    "Fence": ["MnWw", "GdWo", "MnPrv", "GdPrv"],
}

# Add a None level for missing values
ordered_levels = {key:["None"] + value for key, value in ordered_levels.items()}
for key, value in ordered_levels.items():
    print(key,value)

LotShape ['None', 'Reg', 'IR1', 'IR2', 'IR3']
LandSlope ['None', 'Sev', 'Mod', 'Gtl']
BsmtExposure ['None', 'No', 'Mn', 'Av', 'Gd']
BsmtFinType1 ['None', 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ']
BsmtFinType2 ['None', 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ']
Functional ['None', 'Sal', 'Sev', 'Maj1', 'Maj2', 'Mod', 'Min2', 'Min1', 'Typ']
GarageFinish ['None', 'Unf', 'RFn', 'Fin']
PavedDrive ['None', 'N', 'P', 'Y']
Utilities ['None', 'NoSeWa', 'NoSewr', 'AllPub']
CentralAir ['None', 'N', 'Y']
Electrical ['None', 'Mix', 'FuseP', 'FuseF', 'FuseA', 'SBrkr']
Fence ['None', 'MnWw', 'GdWo', 'MnPrv', 'GdPrv']