In [13]:
import numpy as np
import pandas as pd
#url='https://raw.githubusercontent.com/FazlyRabbiBD/StatisticsBasic/master/GPA.csv'
df = pd.read_csv('studentdata.csv')
df

     Name  StudyTime  GamingHour   GPA
0   Monir        4.0         0.5  3.55
1    Jony        2.5         1.0  2.35
2   Gopal        3.0         0.5  3.07
3   Habib        6.0         0.0  3.93
4    Kona        5.0         0.5  3.97
5   Bablu        1.0         3.0  2.43
6    Sara        3.5         0.0  3.61
7   Javed        4.0         0.5  3.67
8   Hasib        2.0         1.0  2.97
9  Hridoy        1.5         2.0  2.81

# https://datasinsightsbd.gitbook.io/dsbook/

In [14]:
df.count()

Name          10
StudyTime     10
GamingHour    10
GPA           10
dtype: int64

In [15]:
df.to_csv('studentdata.csv', index=False)

In [16]:
df.GamingHour.sum()

9.0

In [17]:
df.GamingHour.cumsum()

0    0.5
1    1.5
2    2.0
3    2.0
4    2.5
5    5.5
6    5.5
7    6.0
8    7.0
9    9.0
Name: GamingHour, dtype: float64

In [18]:
df.mean()

StudyTime     3.250
GamingHour    0.900
GPA           3.236
dtype: float64

In [19]:
df.median()

StudyTime     3.25
GamingHour    0.50
GPA           3.31
dtype: float64

In [20]:
df.StudyTime.mode()

0    4.0
dtype: float64

In [21]:
df.min()

Name          Bablu
StudyTime         1
GamingHour        0
GPA            2.35
dtype: object

In [22]:
df.max()

Name          Sara
StudyTime        6
GamingHour       3
GPA           3.97
dtype: object

In [23]:
range=df[['StudyTime','GamingHour','GPA']].max()-df[['StudyTime','GamingHour','GPA']].min()
range

StudyTime     5.00
GamingHour    3.00
GPA           1.62
dtype: float64

In [24]:
df.var()

StudyTime     2.458333
GamingHour    0.877778
GPA           0.351293
dtype: float64

In [25]:
df.std()

StudyTime     1.567907
GamingHour    0.936898
GPA           0.592700
dtype: float64

In [26]:
df.cov()

            StudyTime  GamingHour       GPA
StudyTime    2.458333   -1.194444  0.827222
GamingHour  -1.194444    0.877778 -0.418222
GPA          0.827222   -0.418222  0.351293

In [27]:
df.corr()

            StudyTime  GamingHour       GPA
StudyTime    1.000000   -0.813117  0.890157
GamingHour  -0.813117    1.000000 -0.753147
GPA          0.890157   -0.753147  1.000000

In [28]:
df.skew()

StudyTime     0.283764
GamingHour    1.499697
GPA          -0.283563
dtype: float64

In [29]:
df.kurtosis()

StudyTime    -0.548118
GamingHour    1.985173
GPA          -1.396490
dtype: float64

In [30]:
df.quantile(.25)

StudyTime     2.125
GamingHour    0.500
GPA           2.850
Name: 0.25, dtype: float64

In [31]:
iqr=df.quantile(.75)-df.quantile(.25)
iqr

StudyTime     1.875
GamingHour    0.500
GPA           0.805
dtype: float64

In [55]:
df.describe()

       StudyTime  GamingHour      GPA
count  10.000000   10.000000  10.0000
mean    3.250000    0.900000   3.2360
std     1.567907    0.936898   0.5927
min     1.000000    0.000000   2.3500
25%     2.125000    0.500000   2.8500
50%     3.250000    0.500000   3.3100
75%     4.000000    1.000000   3.6550
max     6.000000    3.000000   3.9700

In [56]:
df.describe(include='all')

        Name  StudyTime  GamingHour      GPA
count     10  10.000000   10.000000  10.0000
unique    10        NaN         NaN      NaN
top     Kona        NaN         NaN      NaN
freq       1        NaN         NaN      NaN
mean     NaN   3.250000    0.900000   3.2360
std      NaN   1.567907    0.936898   0.5927
min      NaN   1.000000    0.000000   2.3500
25%      NaN   2.125000    0.500000   2.8500
50%      NaN   3.250000    0.500000   3.3100
75%      NaN   4.000000    1.000000   3.6550
max      NaN   6.000000    3.000000   3.9700

In [54]:
bf.quantile(.5)

A    21.0
Name: 0.5, dtype: float64